.bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-image: linear-gradient(
    var(--white) 2%,
    var(--cube-color-light) 8% 92%,
    var(--cube-color-dark) 98%
  );

  /* padding-left: 3rem; */
}

.preloader-wrap {
  width: 100px;
}
