/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.container {
  background-color: var(--background-color);
  min-width: 320px;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bg-1 {
  background-image: conic-gradient(
    var(--transparent),
    var(--pink),
    var(--transparent),
    var(--pink)
  );
  height: 100%;
  width: 100%;
  position: absolute;
  animation: bg-spin infinite 10s linear;
  /* filter: drop-shadow(0.5em 2em 15em oklch(46.645% 0.304 270.687)); */
  filter: blur(2rem);
}
@keyframes bg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-2 {
  background-image: conic-gradient(
    var(--green),
    var(--transparent),
    var(--blue),
    var(--green),
    var(--transparent),
    var(--blue)
  );
  height: 100%;
  width: 100%;
  position: absolute;
  animation: bg-2-spin infinite 20s linear;
  filter: blur(2rem);
}
@keyframes bg-2-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.bg-3 {
  background-image: conic-gradient(
    var(--green),
    var(--transparent),
    var(--blue),
    var(--transparent),
    var(--light-green),
    var(--transparent),
    var(--blue),
    var(--green)
  );
  height: 100%;
  width: 100%;
  position: absolute;
  animation: bg-2-spin infinite 20s linear;
  filter: blur(2rem);
}
@keyframes bg-3-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.score-container {
  /* position: relative; */
  /* font-family: Martian Mono; */
  margin-top: 0;
  margin-bottom: 13em;
  line-height: 14em;
  color: var(--white);
}

.score-numbers {
  position: absolute;
  font-size: 15em;
  font-weight: 800;
  text-shadow: 1px 1px 10px var(--black-transparent-20);
  /* margin-top: 0; */
  /* left: -50%; */
  left: 0;
  right: 0;
  margin: 0 auto;

  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;

  user-select: none;
  animation: roll 0.4s;
}
.score-player {
  left: -22.7rem;
}
.score-cat {
  right: -21.5rem;
}
.score-semicolon {
  top: -1.2rem;
}

@keyframes roll {
  0% {
    /* transform: translateY(-100px); */
    transform-origin: center top;
    transform: perspective(75em) rotateX(90deg);
  }
  100% {
    transform: none;
  }
}

/* .container {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto; */
/* margin-bottom: 2000px; */
/* } */
.cube {
  text-align: center;
  /* max-width: 1280px; */
  width: 400px;
  margin: 0 auto;
  margin-bottom: 1000px;
  filter: drop-shadow(0.5em 2em 3em var(--black-transparent-20));
}

.form {
  display: flex;
  flex-direction: column;
  margin: 2em 3em;
  padding-top: 1rem;
  font-weight: bold;
}

.form-input {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.cube-perspective {
  perspective: 1000px;
  /* margin-left: -200px; */
  /* margin-left: -50%; */
  perspective-origin: center;
  transform: translate3d(0, 0, 0);
  transition: transform 0.7s ease 0s, perspective 0.7s ease 0s;
}

.cube-preserve-3d {
  position: relative;
  /* padding-bottom: 1000px; */
  transform-style: preserve-3d;
  /* margin-bottom: 1000px; */
  /* perspective-origin: top; */
  transition: transform 0.7s ease 0s;
  transform: rotateX(0deg);
}

.flip .cube-preserve-3d {
  transform: rotateX(90deg);
}

.flip .cube-perspective {
  perspective: 1500px;
  /* transform: translate3d(0, 400px, 0); */
  transform: translate3d(0, 320px, 0);
}

.cap {
  position: absolute;
  width: 400px;
  height: 400px;
  /* background-color: var(--cap-color); */
  /* background-image: conic-gradient(
    from 0.38turn,
    #969494 0.11turn,
    #908989 0.31turn 0.36turn,
    #797878 1turn 0.57turn,
    #b6b0b0 0.86turn
  ); */
  background-image: conic-gradient(
    from 0.38turn,
    var(--cap-color-dark) 0.11turn,
    var(--cap-color-light) 0.31turn 0.36turn,
    var(--cap-color-dark) 1turn 0.57turn,
    var(--cap-color-light) 0.86turn
  );
  background-size: 2% 2%;
  /* transform: rotateX(90deg) translateZ(200px); */
  transform: rotateX(90deg) rotateY(0deg) translateZ(200px);
  opacity: 0;
}

.flip .cap {
  animation: open-cap 1.8s ease-out forwards;
}

.backflip .cap {
  animation: close-cap 0.1s ease forwards;
}

@keyframes open-cap {
  from {
    transform: rotateX(90deg) rotateY(0deg) translateZ(200px);
    opacity: 0;
  }
  24% {
    opacity: 0;
    transform: rotateX(0deg) rotateY(0deg) translateZ(200px);
  }
  25% {
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) translateZ(200px);
  }
  100% {
    opacity: 1;
    transform: rotateX(50deg) rotateY(0deg) translateZ(200px);
  }
}

@keyframes close-cap {
  from {
    opacity: 1;
    transform: rotateX(50deg) rotateY(0deg) translateZ(200px);
  }
  50% {
    transform: rotateX(0deg) rotateY(0deg) translateZ(200px);
    opacity: 1;
  }
  51% {
    transform: rotateX(90deg) rotateY(0deg) translateZ(200px);
    opacity: 0;
  }
}

.cat {
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: url("./assets/cat.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 0 1em var(--black-transparent-40));
  /* opacity: 1; */
  opacity: 0;
  transform: rotateX(-90deg) translateX(100px) translateY(-120px)
    translateZ(200px);
  /* box-shadow: 0px 10px 20px 5px rgba(16, 16, 16, 0.07),
    0px 10px 20px 5px rgba(16, 16, 16, 0.04); */
}

.angry .cat {
  background-image: url("./assets/cat-angry.png");
}

.flip .cat {
  animation: attack-cat 3s ease forwards;
}

@keyframes attack-cat {
  from {
    transform: rotateX(-90deg) translateX(100px) translateY(-10px)
      translateZ(200px);
    opacity: 0;
    /* opacity: 1; */
  }
  24% {
    opacity: 0;
    transform: rotateX(-90deg) translateX(100px) translateY(-10px)
      translateZ(200px);
    /* opacity: 1; */
  }
  25% {
    opacity: 1;
    transform: rotateX(-90deg) translateX(100px) translateY(-100px)
      translateZ(200px);
  }
  40% {
    opacity: 1;
    transform: rotateX(-90deg) translateX(100px) translateY(-290px)
      translateZ(200px);
  }
  100% {
    opacity: 1;
    transform: rotateX(-90deg) translateX(100px) translateY(-290px)
      translateZ(200px);
  }
}

.backflip .cat {
  animation: hidden-cat 0.1s ease forwards;
}

@keyframes hidden-cat {
  from {
    opacity: 1;
    transform: rotateX(-90deg) translateX(100px) translateY(-290px)
      translateZ(200px);
  }
  50% {
    opacity: 1;
    transform: rotateX(-90deg) translateX(100px) translateY(-90px)
      translateZ(200px);
  }
  51% {
    opacity: 0;
    transform: rotateX(-90deg) translateX(100px) translateY(-90px)
      translateZ(200px);
  }
}

.paw {
  position: absolute;
  width: 90px;
  height: 180px;
  background-image: url("./assets/paw.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0.5em 2em 1.5em var(--black-transparent-30));
  opacity: 0;
  display: none;
  /* opacity: 1; */
  transform: rotateX(-90deg) translateX(40px) translateY(-290px)
    translateZ(366px) scaleY(1);
}

.flip .paw {
  display: block;
  animation: attack-paw 2s ease-in forwards;
}

.backflip .paw {
  display: block;
  animation: hidden-paw 0.1s ease-in forwards;
}

@keyframes attack-paw {
  59% {
    display: none;
    transform: rotateX(-100deg) translateX(124px) translateY(-265px)
      translateZ(366px) scaleX(1) scaleY(0);
    opacity: 0;
    /* opacity: 1; */
  }
  60% {
    height: 180px;
    display: block;
    opacity: 1;
    transform: rotateX(-100deg) translateX(124px) translateY(-265px)
      translateZ(366px) scaleX(1) scaleY(0.1);
  }
  100% {
    height: 190px;
    opacity: 1;
    transform: rotateX(-100deg) translateX(124px) translateY(-128px)
      translateZ(366px) scaleX(1.4) scaleY(1.4);
  }
}

@keyframes hidden-paw {
  0% {
    height: 190px;
    opacity: 1;
    transform: rotateX(-100deg) translateX(124px) translateY(-128px)
      translateZ(366px) scaleX(1.4) scaleY(1.4);
  }
  30% {
    height: 180px;
    display: block;
    opacity: 1;
    transform: rotateX(-100deg) translateX(124px) translateY(-265px)
      translateZ(366px) scaleX(1) scaleY(0.1);
  }
  31% {
    display: none;
    transform: rotateX(-100deg) translateX(124px) translateY(-265px)
      translateZ(366px) scaleX(1) scaleY(0);
    opacity: 0;
  }
}

.cube-front-side {
  position: absolute;

  /* background-color: var(--cube-color);
  background-image: conic-gradient(
    from -0.125turn,
    #bbb 0.25turn,
    #eee 0.25turn 0.5turn,
    #bbb 0.5turn 0.75turn,
    #eee 0.75turn
  ); */
  /* background-image: conic-gradient(
    from 0.38turn,
    #bbb 0.11turn,
    #eee 0.31turn 0.36turn,
    #bbb 1turn 0.57turn,
    #eee 0.86turn
  ); */
  background-image: conic-gradient(
    from 0.38turn,
    var(--cube-color-dark) 0.11turn,
    var(--cube-color-light) 0.31turn 0.36turn,
    var(--cube-color-dark) 1turn 0.57turn,
    var(--cube-color-light) 0.86turn
  );
  background-size: 2% 2%;
  width: 400px;
  height: 400px;
  transition: transform 1s ease 0s;
  transform: rotateX(0deg) translateZ(200px);
  /* opacity: 0.6; */
  opacity: 1;

  /* backface-visibility: hidden; */
}

.cube-bottom-side {
  position: absolute;
  width: 400px;
  height: 400px;
  /* background-color: var(--cube-color); */
  background-image: conic-gradient(
    from 0.38turn,
    var(--cube-color-dark) 0.11turn,
    var(--cube-color-light) 0.31turn 0.36turn,
    var(--cube-color-dark) 1turn 0.57turn,
    var(--cube-color-light) 0.86turn
  );
  /* margin: 2em 3em; */
  background-size: 2% 2%;
  /* filter: drop-shadow(0.5em 2em 1.5em oklch(0% 0 0 / 0.3)); */
  /* box-shadow: 0px 10px 20px 5px rgba(16, 16, 16, 0.704); */
  /* inset 0px 10px 20px 5px rgba(16, 16, 16, 0.468); */
  transition: transform 0.5s ease 0s;
  transform: rotateX(-90deg) translateZ(200px);
  /* opacity: 0.6; */
  opacity: 1;
}

.button-login,
.button-logout {
  margin-top: 2rem;
  height: 5rem;
  font-size: 1.8rem;
  letter-spacing: 0.1em;

  /* line-height: 0rem; */
  /* background-image: conic-gradient(
    from 0.38turn,
    var(--cube-color-dark) 0.11turn,
    var(--cube-color-light) 0.31turn 0.36turn,
    var(--cube-color-dark) 1turn 0.57turn,
    var(--cube-color-light) 0.86turn
  ); */
  background-image: linear-gradient(
    var(--white) 2%,
    var(--cube-color-light) 8% 92%,
    var(--cube-color-dark) 98%
  );
  /* background-size: 100% 100%; */
}

.button-language {
  background-image: linear-gradient(
    var(--white) 2%,
    var(--cube-color-light) 8% 92%,
    var(--cube-color-dark) 98%
  );
}

.button-text {
  /* color: var(--cube-color-dark); */
  /* position: relative; */
  /* letter-spacing: 0.1em; */
  color: transparent;
  background-color: var(--text-color);
  text-transform: uppercase;
  /* pointer-events: none; */
  /* text-shadow: 0px 2px 20px rgba(255, 255, 255, 0.8); */
  text-shadow: 0px 2px 20px var(--cube-color-light);
  /* text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5); */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: text-shadow 0.3s ease-out;
}

/* .button-login:hover .button-text,
.button-login:focus .button-text,
.button-login:focus-visible .button-text {
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  transition: text-shadow 0.3s ease-out;
} */
.button-login:hover .button-text {
  /* text-shadow: 0px 2px 20px rgba(255, 255, 255, 0.8); */
  /* text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5); */
  text-shadow: 0px 2px 3px var(--text-shadow);
  transition: text-shadow 0.3s ease-out;
}

.button-logout {
  display: block;
  /* margin-top: 3rem; */
  height: 5rem;
  width: 300px;
  margin: 240px auto;
}

.language-button-container {
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(
    var(--white) 2%,
    var(--cube-color-light) 8% 92%,
    var(--cube-color-dark) 98%
  );
}

.active {
  background-color: var(--light-green);
  background-image: linear-gradient(
    var(--cube-color-dark) 2%,
    var(--cube-color-light) 8% 92%,
    var(--white) 98%
  );
}
